body {
    font-family: "Josefin sans";
    background-image: url("single-dandelion-saturated.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: "Josefin sans";
    color: #87c034;
    size: 72px;
    text-align-last: center;
    margin-top: 4rem;
    margin-right: 1em;
}

legend {
    appearance: none;
    background-color: #87c034;
    opacity: none;
    font-family: "Josefin sans";
    font-size: 1.75em;
    text-align: center;
    color: white;
    padding: .5em;
    margin-top: 2em;
    margin-bottom: -0.5em;
    margin-left: -1em;
    margin-right: auto;
    border-radius: .75em;
    width: auto;
}
form {
    display: flex; 
    flex-direction: row;
    float: left;
    width: 100%;
  }
  
  label, input {
    display: flex; 
    font-size: 24px;
    float: left;
}

:-ms-input-placeholder {
    background-color: #f5e7ad;
}

::-webkit-input-placeholder {
    background-color: #f5e7ad;
}

fieldset {
    /* align-items: baseline; */
    background-color: white;
    opacity: 100;
    border: none;
    padding: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
    margin-left: 2em;
    border-radius: 1.25em;
    width: 50%;
    font-family: "Josefin sans";
}

.wide {
    width: 100%;
}

div.gender {
    background-color: #f5e7ad;
    border-radius: 1.25em;
    block-size: auto;
    width: max-content;
    padding: 1em;
    margin: 1em;
    align-items: center;
    vertical-align: middle;
}

.grid {
    display: grid;
    align-items: baseline;
    background-color: white;
    opacity: .85;
    grid-template-columns: 170px 170px 170px;
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 10px;
}

input {
    /* margin: .5em .5em 1em 1em; */
    padding: 1em;
    background-color: #f5e7ad;
    color: black;
    font-size: 1em;
    align-items: mid;
    border: none;
    border-radius: 1.25em;
    font-family: "Josefin sans";
}

.output {
    font-family: "Josefin sans";
}

container {
    align-items: flex-end;
    vertical-align: middle;
    border: none black;
    padding: 2em;
    margin: 1em;
    background-color: white;
    border: none;
}
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: none;
}  

.flex-child:first-child {
    margin-right: 20px;
} 
div.label {
    font-family: "Josefin sans";
    color: black;
    font-size: 1.25em;
    align-items: center;
    align-self: auto;
    align-content: space-around;
}
/* .prewrap { */
    white-space: pre-wrap;
}
.error {
    font-style: italic;
    color: red;
}

.intLink {
    cursor: pointer;
}

img.intLink {
    border: 0;
    max-width: 22px;
    max-height: 22px;
    padding: 5px;
}

#toolBar1 select {
    font-size: 12px;
}

#textBox {
    max-width: 800px;
    max-height: 500px;
    border: 1px #000000 solid;
    padding: 12px;
    overflow: auto;
}

#textBox div {
    display: inline;
}

#textBox #sourceText {
    padding: 0;
    margin: 0;
    min-width: 498px;
    min-height: 200px;
}

#editMode label {
    cursor: pointer;
}
.d-none {
    display: none !important; 
}

.material-symbols-outlined{
    cursor:pointer 
}